@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 2000px;
    padding: 0 50px;
    margin: auto;

}

/*Style bar de navigation*/
.navigbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    background-image: url(https://www.publicdomainpictures.net/pictures/240000/nahled/pink-blue-background.jpg);
    background-size: cover;
    font-family: 'Ubuntu';
}
.navigbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navigbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.navigbar .logo a span{
    color: rgb(199, 45, 255);
    font-size: 35px;
    font-weight: 600;
}
.navigbar .menu li{
    list-style: none;
    display: inline-block;
}
.navigbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navigbar .menu li a:hover{
    color: white;
}
/*Style Bouton Menu*/
.menu-btn{
    color: rgb(0, 0, 0);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn i:hover{
    color: white;
    transition: color 0.3s ease;
}

/*Style Section Home*/
.home{
    display: flex;
    background-image: url(https://www.publicdomainpictures.net/pictures/240000/nahled/pink-blue-background.jpg);
    background-size: cover;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 0px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(199, 45, 255);
    font-weight: 500;
}

/*Style Section About*/
section{
    padding: 100px 0;
}
.about{
    font-family: 'Ubuntu', sans-serif;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after{
    content: "Who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(199, 45, 255);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 600px;
    width: 600px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 35%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(199, 45, 255);
}
.about .about-content .right p{
    text-align: justify;
}

/*Bouton Download My CV*/
.about .about-content .right a{
    display: inline-block;
    background-color: rgb(199, 45, 255);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(199, 45, 255);
    transition: all 0.3s ease;
}

/*Surligneage sur le Bouton CV*/
.about .about-content .right a:hover{
    color: rgb(199, 45, 255);
    background: none;
}

/*Media Queries*/
@media(max-width: 1900px){
    .about .about-content .left img{
        height: 600px;
        width: 600px;
        object-fit: cover;
    }
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1300px){

    .home .max-width{
        margin-left: 0px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        object-fit: cover;
    }
}

@media (max-width: 1104px){

    .home .max-width{
        margin-left: 0px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left img{
        height: 400px;
        width: 400px;
        object-fit: cover;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 960px){

    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .navigbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-image: url(https://www.publicdomainpictures.net/pictures/240000/nahled/pink-blue-background.jpg);
        background-size: cover;
        text-align: center;
        padding-top: 50px;
    }
    .navigbar .menu li{
        display: block;
    }

    .navigbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-3{
        font-size: 70px;
    }

    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right p{
        flex: 100%;

    }
}

@media (max-width: 450px){
    .max-width{
        padding: 0 50px;
    }

    .navigbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-image: url(https://www.publicdomainpictures.net/pictures/240000/nahled/pink-blue-background.jpg);
        background-size: cover;
        text-align: center;
        padding-top: 50px;
    }

    .navigbar .menu li{
        display: block;
    }

    .navigbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navigbar .menu.active{
        left: 0;
    }
    .navigbar .menu li{
        display: block;
    }
    .about .about-content .left img{
        height: 250px;
        width: 250px;
        object-fit: cover;
    }

    .max-width{
        max-width: 500px;
    }
    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right p{
        flex: 100%;

    }
}